// Fonts
@import "includes/fonts";

// Reset
@import "compass/reset";

// Rach5 imports
@import "includes/rach5/definitions";

// Your imports
@import "includes/definitions";
@import "includes/frameworks/skeleton";

// Compass imports
@import "rgbapng";
@import "compass/css3";
@import "compass/typography";


/*
 *
 * HERE BE DRAGONS...
 *
 */

html, body {
	// font: 300 15px/1.8 $body-font;
	background: #fff;
	font: 300 15px/1.8 $body-font;
	color: #000;
	// -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

// Content
@import "content/content";


/*
 *
 * Import structure
 *
 */

// Header/Nav
@import "structure/header";

// Footer
@import "structure/footer";

// Slider
@import "structure/slider";


/*
 *
 * Import pages
 *
 */

// Portfolio
@import "pages/portfolio";

// Front page
@import "pages/front-page";

// Blog
@import "pages/blog";


/*
 *
 * Media Queries should always be loaded *last*
 * for the good of the cascade.
 *
 */

@import "includes/mediaqueries";