// Fonts
@import "includes/fonts";
@import url(http://fonts.googleapis.com/css?family=Signika+Negative:300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);

// Reset
@import "compass/reset";

// Rach5 imports
@import "../../../vendor/sass/rach5/definitions";

// Your imports
@import "includes/definitions";

// Compass imports
@import "compass/css3";
@import "compass/typography";


/*
 *
 * HERE BE DRAGONS...
 *
 */

html .mceContentBody {
	max-width: 700px;
	margin: 20px auto;
	padding: 0 20px;
	background: #fff;
	color: #000;
	font: 300 15px/1.8 $body-font;
	-webkit-text-size-adjust: 100%;
}



.wp-caption-dd {
	@extend .wp-caption-text;
	padding: 0;
}

.wp-caption {
	position: relative;
	z-index: 10000;

	&.alignleft, &.aligncenter, &.alignright {
		padding: 8px 3px 8px;
	}
}

.alignleft, .alignright, .aligncenter {
	@include border-radius(0px);
}

// Content
@import "content/content";