// Normalize reset
@import "vendor/normalize/2.0.1/normalize";

// Compass Imports
@import "compass/css3";
@import "compass/layout";

// Fonts
@import "misc/fonts";

// Theme
@import "misc/theme";
@import "misc/clearfix";

body {
	//background: $base-color-background image-url('background.png') center/cover fixed no-repeat;
	background: $base-color-background;
	color: $base-color-text;
	font: #{$base-font-size}/1.5 $base-font-family;
}

a {
	color: darken( $base-color-text, 20% );

	&:hover {
		color: $base-color-text;
	}
}

// Modules
@import "modules/box";

// Layout
@import "layout/header";
@import "layout/content";
@import "layout/typography";
@import "layout/footer";

// Pages
@import "pages/homepage";
@import "pages/portfolio";
@import "pages/blog";

// Video
#video-background {
	position: fixed;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
