// Compass imports
@import "rgbapng";
@import "compass/css3";
@import "compass/typography";

// Fonts
@import "includes/fonts";

// Reset
@import "../../../vendor/sass/reset/*";

// Rach5 imports
@import "../../../vendor/sass/rach5/*";

// Your imports
@import "includes/definitions";
@import "../../../vendor/sass/skeleton/*";


/*
 *
 * HERE BE DRAGONS...
 *
 */

html, body {
	background: $vpmtan image-url('noise.png') center center;
	color: $text-color;
	font: 300 15px/1.8 $body-font;
	-webkit-text-size-adjust: 100%;
}

// Content
@import "content/content";


/*
 *
 * Import structure
 *
 */

// Header
@import "structure/header";

// Nav
@import "structure/nav";

// Footer
@import "structure/footer";

// Slider
@import "structure/slider";

#main-container {
	padding: 30px 0 15px;
	background: #FFF;
}

#content {

}

#sidebar {
	padding: 0 0 0 20px;
	border-left: 1px dotted $vpmtan;
	@include box-sizing(border-box);
}


/*
 *
 * Import pages
 *
 */

// Portfolio
@import "pages/*";


/*
 *
 * Media Queries should always be loaded *last*
 * for the good of the cascade.
 *
 */

@import "includes/mediaqueries";
