// Normalize reset
@import "vendor/normalize/2.0.1/normalize";

// Compass Imports
@import "compass/css3";
@import "compass/layout";
@import "susy";

// Fonts
@import "misc/fonts";

// Theme
@import "misc/theme";
@import "misc/grid";

body {
	background: #333;
	color: white;
	font: #{$base-font-size}/1.5 $base-font-family;
}

.vpm {
	position: relative;
}

// Modules
@import "modules/box";

// Layout
@import "layout/header";
@import "layout/nav";
@import "layout/content";
@import "layout/footer";
