// Normalize reset
$legacy-support-for-ie8: true;
@import "normalize";

// Compass Imports
@import "compass/css3";
@import "breakpoint";
@import "rgbapng";
@import "susy";

// Modules
@import "modules/col";
@import "modules/gal";

// Misc
@import "misc/theme";
@import "misc/formalize";

// Layout
@import "layout/header";
@import "layout/forms";

html {
	height: 100%;
}

body {
	background: $base-color-background image-url('background.jpg') center fixed no-repeat;
	background-size: cover;
	color: $base-color-text;
	font: #{$base-font-size}/1.5 $base-font-family;
	@include text-shadow;
	height: 100%;
}

.content {
	background: rgba( black, 0.5 );
}

a {
	color: darken( $base-color-text, 20% );

	&:hover {
		color: $base-color-text;
	}
}

.copyright span {
	@extend h2;
}
