#feature-box {
	border-bottom: 1px solid $vpmtan;
	padding: 0 0 10px;
	margin: 0 10px 30px;
}

#slogan {
	float: left;
	width: 300px;
	font-size: 28px;
	line-height: 1.6;
}

#responsive-demo {
	display: block;
	position: relative;
	height: 210px;
	width: 500px;
	margin: 0 0 20px;
	float: right;
}

%demo-products {
	overflow: hidden;
	position: absolute;
	bottom: 0;
}

#laptop-demo {
	background: image-url('homepage/laptop.png') no-repeat;
	width: 393px;
	height: 210px;
	@extend %demo-products;
	right: 100px;

	img {
		position: absolute;
		top: 15px;
		left: 62px;
	}
}

#tablet-demo {
	background: image-url('homepage/tablet.png') no-repeat;
	width: 203px;
	height: 158px;
	@extend %demo-products;
	right: 0;

	img {
		position: absolute;
		top: 17px;
		left: 19px;
	}
}

#smartphone-demo {
	background: image-url('homepage/smartphone.png') no-repeat;
	width: 45px;
	height: 89px;
	@extend %demo-products;
	left: 17px;

	img {
		position: absolute;
		top: 14px;
		left: 3px;
	}
}

.home {
	.entry-content {

		p {
			font: 300 24px $header-font;
		}

		p:first-child {
			font: 300 34px/48px $header-font;
			margin: 20px 0 25px;

			a {
				color: #FFF;
				background: #ff9900 url(../img/lnkgrd.jpg) 0 0 no-repeat;
				text-decoration: none;
				padding: 2px 4px 0;
			}
		}

		strong {
			font-weight: 600;
		}
	}
}


.homebox {
	position: relative;

	.slide {
		width: 100%;
		height: 140px;
		overflow: hidden;
	}

	a {
		display: block;
		text-decoration: none;
		color: #000;

		p {
			margin: 0;
			padding: 8px 0 0;
			//background: lighten($vpmtan, 8%);
		}

		/* &:hover p {
			color: #000;
			background: darken($vpmtan, 10%);
		}

		&:active p {
			background: darken($vpmtan, 30%);
		} */
	}

	img {
		width: 100%;
		height: auto;
		min-width: 340px;
		min-height: 140px;
		margin: 0;
		display: block;
		background: #C0C0C0;
	}
}