#header {
	position: relative;
	padding: 50px 0 0;
}

#header-inner {
	// min-height: 150px;
}

#logo {
	display: block;
	max-width: 435px;
	max-height: 78px;
	width: 100%;
	height: auto;
	z-index: 100;
	line-height: 1;
	padding: 0 0 8px;
	position: relative;
	left: -5px;

	img {
		max-width: 435px;
		max-height: 78px;
		width: 100%;
		height: auto;
	}
}

#header-background {
	@include background-size('cover');
	background-position: center -100px;
	height: 40px;
	width: 100%;
	border-top: 1px solid $global-border-color;
	border-bottom: 1px solid $global-border-color;
	position: absolute;
	bottom: 0px;
	z-index: 10;

	a {
		color: #DDD;
	}
}

#alert {
	@include rgba-background( rgba(black, 0.35) );
	padding: 12px 10px;
	height: 16px;
	position: relative;
	margin: 0 0 0 10px;
	color: #FFF;
	@include text-shadow(0 1px 1px #000, 0 0 3px #000);
	font: 90% $header-font;
	float: left;
}