#header {
	// font: 300 60px/60px 'Signika Negative', sans-serif;
	//padding: 65px 0 0;
	position: relative;
	border-bottom: 1px solid #BFBEB9;
}

#header-inner {
	// min-height: 150px;
}

#logo {
	display: block;
	max-width: 435px;
	max-height: 78px;
	width: 100%;
	height: auto;
	z-index: 100;
	line-height: 1;
	padding: 40px 0 8px;
	position: relative;
	left: -6px;

	img {
		max-width: 435px;
		max-height: 78px;
		width: 100%;
		height: auto;
	}
}

#alert-container {
	text-align: center;
}

%alerts {
	min-height: 16px;
	padding: 8px 4px 8px 8px;
	font: 400 14px/1 $body-font;
	@include inline-block;
	@include border-bottom-radius(3px);

	a {
		color: #FFF;
	}

	p {
		margin: 0;
	}

	.button {
		padding: 2px 6px;
		font: {
			weight: 600;
		}
	}
}

#alert-announcement {
	@extend %alerts;

	$text-color: #FFF;
	$background-color: rgba(desaturate(darken($vpmtan, 20%), 20%), 0.8);
	@include vpm-alert($text-color, $background-color);

	.button {
		margin: 0 0 0 5px;

		$text-color: #FFF;
		$background-color: lighten(#F07E0D, 10%);
		$spread: 12%;
		@include vpm-button($background-color, $text-color, default, $spread, 3px);

		&:hover {
			@include vpm-button($background-color, $text-color, hover, $spread);
		}

		&:active {
			@include vpm-button($background-color, $text-color, active, $spread);
		}
	}
}