#header-nav {
	& > ul {
		float: right;
		margin: 23px 0 0;
		height: 106px;
	}

	.menu > li {
		float: left;
		margin: 0 0 0 18px;

		.dropdown-menu {
			display: none;
		}

		& > a {
			@include rgba-background( rgba(lighten(#A5A297, 5%), 0.8) );
			display: block;
			text-decoration: none;
			padding: 10px 12px;
			height: 19px;
			color: #FFF;
			@include text-shadow(0 1px 1px #000);
			font: 16px $header-font;
			@include box-shadow(0 1px 3px #504D3F inset, 0 0 10px #c4bba7);
			@include border-radius(4px);
			position: relative;
			z-index: 30;

			&:hover {
				@include rgba-background(rgba(darken($vpmtan, 30%), 0.5));
			}
		}

		&.dropdown:hover, &.current-menu-item, &.current-menu-parent.dropdown {
			& > a {
				padding: 10px 12px 77px;
				@include border-bottom-radius(0px);
				background: #FFF;
				color: #000;
				@include text-shadow(none);
				@include box-shadow(0 3px 3px #555349 inset);
			}

			.dropdown-menu {
				display: block;
				min-width: 150px;

				.current-menu-item {
					font-weight: bold;
				}
			}
		}

		&.dropdown:hover {
			.dropdown-menu {
				z-index: 100;
			}
		}
	}
}

.dropdown-menu {
	position: absolute;
	right: 10px;
	bottom: 0;
	border-left: 1px solid $global-border-color;
	border-right: 1px solid $global-border-color;
	background: #FFF;
	z-index: 50;
	margin: 0;
	max-height: 41px;

	li {
		display: inline;
		font-size: 90%;
		list-style: none;
	}

	a {
		text-decoration: none;
		padding: 10px;
		display: block;
		float: left;
	}
}