#footer {
	// background: $vpmtan;
	padding: 0 0 12px;
	border-top: 1px solid darken($vpmtan, 10%);
}

#legal {
	color: #666;
	font: {
		size: 13px;
	}
	padding: 10px 0 0 0;
	margin: 0 10px;
	float: right;
	position: relative;
	top: -1px;

	a {
		color: #888;
		margin-left: 3px;

		&:hover {
			color: lighten(#888, 14%);
		}

		&:visited {
			color: darken(#888, 7%);

			&:hover {
				color: lighten(#888, 7%);
			}
		}
	}
}