#header {
	font: 300 60px/60px 'Signika Negative', sans-serif;
	
	height: 133px;
	padding: 95px 0 20px;
	position: relative;
}

.home #header {
	height: 66px;
	padding: 95px 0 0;
}

#logo {
	display: inline-block;
	width: 423px;
	height: 67px;
	position: absolute;
	top: 94px;
	left: 202px;
	z-index: 100;
	
	a {
		display: block;
		width: 423px;
		height: 67px;
		@include imgrep;
	}
}

.page {
	#logo {
		z-index: 100;
		background: none;
	}
}

#weare {
	padding-left: 24px;
	text-transform: lowercase;
}