#nav-wrapper {
	margin: 30px 0;
	height: 53px;
}

#nav {
	margin: 0 0 0 200px;
	background: $vpmtan;
	height: 53px;
	position: relative;
	
	li {
		list-style: none;
		float: left;
		font: 300 24px 'Signika Negative', sans-serif;
	}
}

#menus {
	width: 700px;
	
	a {
		color: #FFF;
		padding: 3px 6px 2px;
		display: block;
		text-decoration: none;
	}
}

#menu-primary-menu {
	a {
		background: #ff9900 url(../img/lnkgrd.jpg) 0 0 no-repeat;
		margin: 10px 0 0 10px;
	}
}

#menu-secondary-menu {
	float: right;
	
	a {
		background: #336699;
		margin: 10px 10px 0 0;
		@include opacity(0.65);
	}
	
	.current_page_parent {
		a {
			background-position: center bottom !important;
			@include opacity(1);
		}
	}
}

.current-menu-item, .current-page-ancestor, .current_page_parent {
	a {
		background-position: center bottom !important;
		@include opacity(1);
	}
}

.single-portfolio {
	.current_page_parent {
		a {
			@include opacity(0.65);
		}
	}
	
	#menu-item-325 {
		a {
			background-position: center bottom !important;
			@include opacity(1);
		}
	}
}