<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
{% include head.html %}
<body>
	<div class="vpm">
		{% include header.html %}

		{% for post in site.posts %}
		<section class="content row">
			<div class="content-inner">
				<time>{{ post.date | date: "%d %b %Y" }}</time>
				<a href="{{ post.url }}">{{ post.title }}</a>
				{{ post.content | striphtml | truncatewords:100 }}
			</div>
		</section>
		{% endfor %}
	</div>
</body>
</html>
