<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
{% include head.html %}
<body>
	{% include header.html %}

	<article class="row">
		<div class="row-interior">
			<header class="prt-header">
				<div class="prt-heading">
					<h2 class="entry-title">{{ page.title }}</h2>
					<a href="{{ page.portfolio['url'] }}">{{ page.portfolio['url'] }}</a>
				</div>
				<ul class="prt-features">
					{% if page.portfolio['html5'] %}<li><i data-tooltip="HTML5" class="icon icon-html5"><span>HTML5</span></i></li>{% endif%}
					{% if page.portfolio['identity'] %}<li><i data-tooltip="Identity Design" class="icon icon-identity"><span>Identity</span></i></li>{% endif%}
					{% if page.portfolio['responsive'] %}<li><i data-tooltip="Responsive" class="icon icon-responsive"><span>Responsive</span></i></li>{% endif%}
					{% if page.portfolio['wordpress'] %}<li><i data-tooltip="WordPress" class="icon icon-wordpress"><span>WordPress</span></i></li>{% endif%}
				</ul>
			</header>
			<div class="content entry-content">
				{{ content }}
			</div>
			<ul class="boxes">
				{% for image in page.portfolio['images'] %}
					<li class="two-up content screenshot">
						<a href="{{ page.url }}{{ image }}"><img src="{{ page.url }}{{ image }}" alt="Screenshot of website for {{ page.title }}"></a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</article>

	{% include footer.html %}
	<script type="text/javascript" src="/javascripts/portfolio.js"></script>
</body>
</html>
