<!DOCTYPE html>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
{% include head.html %}
<body>
	{% include header.html %}

	<div class="row primary">
		<h2 class="entry-title">{{ page.title }}</h2>
		<p><time>{{ page.date | date: "%d %b %Y" }}</time> by {{ page.author }}</p>
		<article class="content">
			<div class="entry-content">
				{{ content }}
			</div>
		</article>
		<nav class="pnav">
			{% if page.previous %}
			<div class="two-up content">
				<a href="{{ page.previous.url }}" class="nav-prev">&larr;<span class="pnav-label"> Previous</span></a>
			</div>
			{% endif %}

			{% if page.next %}
			<div class="two-up content">
				<a href="{{ page.next.url }}" class="nav-next"><span class="nav-label">Next </span>&rarr;</a>
			</div>
			{% endif %}
		</nav>
	</div>

	{% include footer.html %}
</body>
</html>
