---
title: Home
layout: base
---

<section>
	<h2 class="home-slogan-text">Creative apps and websites for creative people</h2>
	<ul class="home-boxes">
	{% for page in site.pages %}
		{% if page.layout == 'portfolio' %}
		<li class="home-boxes-item">
			<a href="{{ page.url }}" class="home-boxes-link home-boxes-padding">
				<div class="home-boxes-image" style="background-image: url('{{ page.url }}screenshot.png');"></div>
				{{ page.title }}
			</a>
		</li>
		{% endif %}
	{% endfor %}
	</ul>
</section>

<article class="content">
	<p class="lead">Van Patten Media is a full service digital studio. We help artists, actors, theatres, and singers take ownership of their web presence.</p>
	<p>We also build web applications (for clients and for ourselves) like <a href="http://marquee.io/">Marquee.io</a> and <a href="http://www.coachmenyc.com/">CoachMeNYC</a>. We also created <a href="http://www.howibookedit.com/">How I Booked It</a>, an archive of interviews with people working in the theatre on how they got their start.</p>
</article>

<section>
	<h2 class="section-header">Our services</h2>
	<ul class="home-boxes">
		<li class="home-boxes-item">
			<div class="home-boxes-padding">
				<div class="home-boxes-image" style="background-image: url('http://www.vanpattenmedia.com/content/themes/vanpattenpress/img/homepage/homeboxes/wordpress.jpg');"></div>
				WordPress
			</div>
		</li>
		<li class="home-boxes-item">
			<div class="home-boxes-padding">
				<div class="home-boxes-image" style="background-image: url('http://www.vanpattenmedia.com/content/themes/vanpattenpress/img/homepage/homeboxes/website.png');"></div>
				Web apps
			</div>
		</li>
		<li class="home-boxes-item">
			<div class="home-boxes-padding">
				<div class="home-boxes-image" style="background-image: url('');"></div>
				Product development
			</div>
		</li>
		<li class="home-boxes-item">
			<div class="home-boxes-padding">
				<div class="home-boxes-image" style="background-image: url('');"></div>
				Content strategy
			</div>
		</li>
	</ul>
</section>

<section>
	<h2 class="section-header">On our blog&hellip;</h2>
	{% for post in site.posts limit:3 %}
		<article class="entry content">
			<div class="entry-text">
				<h3 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
				<div class="entry-content">
					{{ post.content | strip_html | truncatewords:13 }}
				</div>
			</div>
			<div class="entry-thumbnail" style="background-image: url('')"></div>
		</article>
	{% endfor %}
</section>
