---
title: Home
layout: base
---

<section class="row">
	<div class="row-interior">
		<h2 class="home-slogan-text">Creative apps and websites for creative people</h2>
		
		<article class="content">
			<p class="lead">Van Patten Media is a full service digital studio. We help artists, actors, theatres, and singers take ownership of their web presence.</p>
			<p class="lead">Learn <a href="/about/">who we are</a>, <a href="#our-services">what we do</a>, <a href="#selected-work">what we've built</a>, and <a href="/contact/">get in touch</a> when you're ready to start building.
		</article>
	</div>
</section>

<section class="row">
	<div class="row-interior">
		<h2 class="section-header" id="our-services">Our services</h2>
		<ul class="boxes">
			<li class="three-up home-boxes-item">
				<div class="home-boxes-image" style="background-image: url('http://www.vanpattenmedia.com/content/themes/vanpattenpress/img/homepage/homeboxes/wordpress.jpg');"></div>
				WordPress
			</li>
			<li class="three-up home-boxes-item">
				<div class="home-boxes-image" style="background-image: url('/images/services/graphics.png');"></div>
				Graphic design
			</li>
			<li class="three-up home-boxes-item">
				<div class="home-boxes-image" style="background-image: url('/images/services/products.jpg');"></div>
				Product development
			</li>
			<li class="three-up home-boxes-item">
				<div class="home-boxes-image" style="background-image: url('/images/services/content.png');"></div>
				Content strategy
			</li>
		</ul>
	</div>
</section>

<section class="row">
	<div class="row-interior">
		<h2 class="section-header" id="selected-work">Selected work</h2>
		<ul class="boxes">
		{% assign i = 0 %}
		{% for page in site.pages %}
			{% if page.layout == 'portfolio' %}
				{% if i < 50 %}
					<li class="three-up home-boxes-item">
						<a href="{{ page.url }}" class="home-boxes-link">
							{% for image in page.portfolio['images'] limit:1 %}
							<div class="home-boxes-image" style="background-image: url('{{ page.url }}{{ image }}');"></div>
							{% endfor %}
							{{ page.title }}
						</a>
					</li>
					{% assign i = i|plus:1 %}
				{% endif %}
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</section>

<section class="row">
	<div class="row-interior">
		<h2 class="section-header" id="lets-work-together">Let's work together</h2>
		<div class="content">
			<p>Like what you see? <a href="/contact/">Get in touch</a> to begin your project.</p>
		</div>
	</div>
</section>

<section class="row">
	<div class="row-interior">
		<h2 class="section-header" id="on-our-blog"><a href="/blog/">On our blog</a></h2>
		{% for post in site.posts limit:3 %}
			<article class="entry content">
				<div class="entry-text">
					<h3 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
					<div class="entry-content">
						{{ post.content | strip_html | truncatewords:13 }}
					</div>
				</div>
				{% if post.feature_image %}
				<div class="entry-thumbnail" style="background-image: url('{{ post.feature_image }}')"></div>
				{% endif %}
			</article>
		{% endfor %}
	</div>
</section>
