$link-color: #369;
$link-color-hover: lighten($link-color, 14%);
$link-color-active: #F90;

$vpmtan: darken(#F6F3EB, 7%);

$signika-negative: 'Signika Negative', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', sans-serif;

$header-font: 'Signika Negative', $sans-serif;

$body-font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', sans-serif;