.row {
	background: image-url('logo.png') fixed no-repeat;
	padding: 20px 20px 0 309px;
	min-height: 130px;
	max-width: 60%;
	min-width: 600px;
}

.row.invert {
	background: image-url('logo-invert.png') fixed no-repeat;
}

.content {
	padding: 1px 20px;
	background: rgba( black, 0.5 );
}

.row.invert .content-box {
	background: rgba( white, 0.5 );
}
