.row {
	background: image-url('logo.png') fixed no-repeat;
	padding: 20px 0 0 309px;
}

.row.invert {
	background: image-url('logo-invert.png') fixed no-repeat;
}

.content {
	padding: 1px 20px;
	width: 70%;
	min-width: 500px;
	background: rgba( black, 0.5 );
}
