.row {
	background-color: rgba( white, 0.25 );
	padding: 20px 0 20px 4%;
	@include border-right-radius;
	max-width: 750px;

	@media #{$full} {
		padding: 20px 20px 20px 309px;
		min-height: 130px;
		width: 60%;
		max-width: 960px;
		min-width: 600px;
	}

	&.transparent {
		background-color: transparent;
	}

	&.primary {
		padding-bottom: 4%;
	}
}

.content {
	padding: 1px 20px;
	margin-right: 4%;
	margin-top: 20px;
	background: rgba( black, 0.5 );
	@include border-radius;
}

.row.invert .content-box {
	background: rgba( white, 0.5 );
}

// two-up
%up {
	float: left;
	@include box-sizing(border-box);
}

.two-up {
	margin-right: 4%;
	@extend %up;

	@media #{$tablet} {
		width: 46%;
	}
}

.three-up {
	width: 46%;
	margin-right: 4%;
	@extend %up;

	@media #{$tablet} {
		width: 30%;
		margin-right: 3%;
	}
}
