.form-block {
	margin-bottom: 1rem;
}

.form-label {
	display: block;
	@extend h2;
	margin: 0 0 0.15rem;
	@include opacity( 0.5 );

	@include breakpoint( $break-primary ) {
		margin: 0;
		padding: 0.8rem 0;
		width: 100px;
		float: left;
	}
}

.form-controls {
	@include breakpoint( $break-primary ) {
		margin-left: 100px;
	}
}

input[type="text"], input[type="email"] {
	width: 100%;

	@include breakpoint( $break-primary ) {
		width: auto;
	}
}

textarea {
	min-height: 200px;
}
