.header {
	min-height: 200px;
	text-align: center;
	position: relative;
	display: table;
	width: 100%;

	@include breakpoint( $break-primary ) {
		height: 100%;
	}
}

.logo {
	display: table-cell;
	vertical-align: middle;

	img {
		width: 250px;
		height: auto;
		
		@include breakpoint( $break-secondary ) {
			width: 400px;
		}
	}
}

.more {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	display: block;
	margin-left: -25px;
	border: 2px solid white;
	@include rgba-background( rgba( black, 0.5 ) );
	@include border-radius( 100px );
	@include opacity( 0.0 );
	font-size: 2.5rem;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	color: white;
	@include box-shadow( 0 1px 2px black );

	&:hover {
		@include opacity( 0.75 );
	}
}
