.header-logo {
	display: block;
	width: 261px;
	overflow: hidden;
	background: rgba(white, 0.25);
	@include border-bottom-radius;
	padding: 100px 20px 9px;
	margin: 0 0 0 20px;

	img {
		width: inherit;
		height: auto;
	}
}
