.header {
	min-height: 200px;
	text-align: center;
	position: relative;
	display: table;
	width: 100%;

	@include breakpoint( $break-primary ) {
		height: 100%;
	}
}

.logo {
	display: table-cell;
	vertical-align: middle;

	img {
		width: 250px;
		height: auto;
		
		@include breakpoint( $break-secondary ) {
			width: 400px;
		}
	}
}
