.home-slogan {
	@extend %content;
	padding-top: 300px;
	min-height: auto;
}

.home-slogan-text {
	margin: 0;
	font: {
	   size: 200%;
	   weight: normal;
   }
	@include text-shadow;
}

.home-boxes {
	width: 100%;
	padding: 0;
	margin: 0;
	@extend %clearfix;
}

.home-boxes-item {
	list-style: none;
	float: left;
	background: rgba( black, 0.5 );
	@include border-radius;
	min-height: 100px;
	width: 30%;
	margin-top: 15px;
	margin-right: 3%;
	font-size: 90%;
}

.home-boxes-link {
	display: block;
	text-decoration: none;
	color: $base-color-text;
}

.home-boxes-padding {
	padding: 5px;
}

.home-boxes-image {
	width: 100%;
	height: 100px;
	margin: 0 0 5px;
	@extend %thumbnail;
}

.section-header {
	margin: 2em 0 0;
}
