.slider {
	height: 300px;
	overflow: hidden;
	margin: 0 0 1em;
}

.slide {
	height: inherit;
	width: 100%;
}

.slide-inner {
	@extend %full-container;
	height: 100%;
}

.slide-content {
	@extend %push-past-sidebar;
	height: 100%;
	background: gray;
}

.slide-overlay {
	height: 100%;
	background: image-url('shine.png') no-repeat;
	background-size: cover;
}
