$base-font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
$base-font-size: 16px;

$base-color-background: #444;
$base-color-text: white;

$font-family-header: 'futura-pt', 'Helvetica', 'Arial', sans-serif;

// Compass defaults
$default-text-shadow-color: #000;
$default-text-shadow-v-offset: 1px;

.content {
	background: black;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-header;
	text-transform: uppercase;
}

h1 {
	font-size: 1rem;
	letter-spacing: 2px;
}
