$base-font-family: 'proxima-nova', 'Helvetica', 'Arial', sans-serif;
$base-font-size: 15px;

$base-color-background: #444;
$base-color-text: white;

// Breakpoints
$tablet: "only screen and (min-width: 525px)";
$full: "only screen and (min-width: 980px)";

// Compass defaults
$default-text-shadow-color: #000;
$default-text-shadow-v-offset: 1px;

$default-box-shadow-color: #000;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 4px;

$default-border-radius: 3px;
