#project-meta {
	float: right;
	margin: -20px 0 20px 20px;
}

#project-meta-inner {
	background: desaturate(lighten($vpmtan, 6%), 15%);
	padding: 20px;
}

#project-button {
	display: block;
	padding: 14px 4px;
}


/*
 *
 * Project download
 *
 */

#project-download-box {
	br {
		display: none;
	}
}

#button-download {
	@extend #project-button;
	font: 600 26px $header-font;

	$text-color: #FFF;
	$background-color: #ff9933;
	@include vpm-button($background-color, $text-color, default);

	&:hover {
		@include vpm-button($background-color, $text-color, hover);
	}

	&:active {
		@include vpm-button($background-color, $text-color, active);
	}
}

#project-version-info, #project-requirements {
	display: block;
	margin: 6px 0 3px;
	font: {
		style: normal;
		size: 11px;
	};
	text-align: center;
}

#project-requirements {
	margin: 0;
}

#project-fuzzy-release-date {
	border-bottom: 1px dotted #AAA;
}


/*
 *
 * Project contribute
 *
 */

#project-contribute-box {
	margin: 20px 0 0;
	padding: 20px 0 0;
	border-top: 1px dotted #CCC;
}

#button-contribute {
	@extend #project-button;
	font: 600 24px $header-font;

	$text-color: #FFF;
	$background-color: #8596fa;
	@include vpm-button($background-color, $text-color, default);

	&:hover {
		@include vpm-button($background-color, $text-color, hover);
	}

	&:active {
		@include vpm-button($background-color, $text-color, active);
	}
}


/*
 *
 * Project email signup
 *
 */

#project-email-signup-box {
	margin: 20px 0 0;
	padding: 20px 0 0;
	border-top: 1px dotted #CCC;

	p {
		margin: 0 0 10px;

		&:first-child {
			line-height: 1.6;
			margin: 0 0 1px;
		}

		em {
			font-size: 12px;
			color: #666;
		}
	}
}

#project-email-signup-form {
	text-align: right;
}

#MERGE0 {
	width: 100%;
}


/*
 *
 * Project content
 *
 */

#project-content {
	p:first-child {
		font: {
			weight: 400;
			size: 18px;
		};

		strong {
			font: {
				weight: 700;
			}
		}
	}
}


/*
 *
 * Project media
 *
 */

#project-media {
	li {
		width: 106px;
		height: 80px;

		float: left;
		margin: 0 10px 10px 0;

		a {
			display: block;
			line-height: 1;

			img {
				width: 100%;
				height: 100%;
				border: 1px solid #BBB;
				background: #FFF;
				padding: 3px;
				@include box-sizing(border-box);
				@include box-shadow(0 1px 4px -2px black);
			}

			&:hover {
				img {
					border: 1px solid #777;
					width: 112%;
					height: 112%;
					margin: -5.5% 0 0 -6.5%;
					padding: 4px;
					@include box-shadow(0 1px 3px -1px black);
				}
			}
		}
	}
}