// Fonts
@import "includes/fonts";

// Rach5 imports
@import "includes/rach5/definitions";
@import "includes/rach5/fixes";

// Your imports
@import "includes/definitions";

// Compass imports
@import "rgbapng";
@import "compass/css3";

// ------------------------------------------------------------ //
//
//    HERE BE DRAGONS...
//
// ------------------------------------------------------------ //

html, body {
	font: 14px/1.5em $body-font;
}

// Header
@import "structure/header";

// Nav
@import "structure/nav";

// Slider
@import "content/slider";

#content {
	margin: 0 0 0 200px;
}

.slide-nav, #folio_item-data, article, #comments, #folio_item-info {
	width: 700px;
}

a {
	color: $link-color;
	text-decoration: underline;
	
	&:hover {
		color: $link-color-hover;
		text-decoration: none;
	}
	
	&:visited {
		color: darken($link-color, 7%);
		
		&:hover {
			color: $link-color-hover;
		}
		
		&:active {
			color: $link-color-active;
		}
	}
	
	&:active {
		color: $link-color-active;
	}
}

// Front page
@import "pages/front-page";

// Blog
@import "pages/blog";

.entry-content {
	@import "content/content";
}

h2 {
	font: 600 32px $signika-negative;
	margin: 0 0 15px;
	// @include inline-block();
	
	a {
		text-decoration: none;
	}
	
	&.post-title {
		margin: 0;
	}
}

// Pages
@import "pages/portfolio";

// Forms
@import "content/forms";

// Footer
@import "structure/footer";

// Media Queries
@import "includes/mediaqueries";