#footer {
	// background: $vpmtan;
	padding: 0 0 20px;
}

#legal {
	background: #FFF;
	color: #666;
	font: {
		size: 13px;
	}
	padding: 2px 20px 10px 20px;
	margin: 0 10px;
	float: right;
	border-right: 1px solid darken($vpmtan, 10%);
	border-bottom: 1px solid darken($vpmtan, 10%);

	a {
		color: #888;
		margin-left: 3px;

		&:hover {
			color: lighten(#888, 14%);
		}

		&:visited {
			color: darken(#888, 7%);

			&:hover {
				color: lighten(#888, 7%);
			}
		}
	}
}