#footer {
	height: 40px;
	text-align: right;
	position: relative;
}

#social {
	text-align: left;
	width: 200px;
	list-style: none;

	li {
		margin: 0 0 4px;
	}
}

#legal {
	padding: 5px 0 0;
	border-top: 1px dotted #CCC;
	color: #999;
	font: {
		size: 13px;
	}

	a {
		color: #888;
		margin-left: 3px;

		&:hover {
			color: lighten(#888, 14%);
		}

		&:visited {
			color: darken(#888, 7%);

			&:hover {
				color: lighten(#888, 7%);
			}
		}
	}
}