#header {
	font: 300 60px/60px 'Signika Negative', sans-serif;
	padding: 65px 0 0;
	position: relative;
}

#logo {
	display: block;
	max-width: 423px;
	max-height: 67px;
	width: 100%;
	height: auto;
	z-index: 100;
	line-height: 1;

	img {
		max-width: 423px;
		max-height: 67px;
		width: 100%;
		height: auto;
	}
}