#header {
	font: 300 60px/60px 'Signika Negative', sans-serif;
	padding: 95px 0 0;
	position: relative;
}

#logo {
	display: block;
	max-width: 423px;
	max-height: 67px;
	width: 100%;
	height: auto;
	z-index: 100;
	line-height: 1;

	img {
		max-width: 423px;
		max-height: 67px;
		width: 100%;
		height: auto;
	}
}

.page {
	#logo {
		z-index: 100;
		background: none;
	}
}

#weare {
	// padding-right: 24px;
	text: {
		align: right;
		transform: lowercase;
	}
}