.infocus {
	background: $vpmtan;
	height: 230px;
	overflow: hidden;

	.slide {
		@include opacity(0.3);
	}
}

.type-page, .type-project {
	.slide {
		margin-bottom: 20px;
	}
}

.slide-hold {
	width: 1400px;
	position: relative;
}

.slide {
	float: left;
	position: relative;
	max-width: 700px;
	width: 100%;
	height: 230px;
	overflow: hidden;

	div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-bottom: 3px solid rgba(0,0,0,0.75);
	}

	a {
		display: block;
		height: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		text-decoration: none;
		position: relative;
	}

	h2 {
		font: {
			weight: 400;
		}
	}

	h2, p {
		color: #FFF;
		position: absolute;
		@include rgba-background(rgba(0,0,0,0.75));
		text-shadow: 0 1px 1px rgba(0,0,0,0.3);
		margin: 0 0 0 10px;
	}

	&.header-top {
		h2 {
			font: {
				size: 26px;
			}
			padding: 16px 8px 5px;
			display: inline;
			top: 0;
		}

		p {
			padding: 4px 8px 10px;
			line-height: 25px;
			bottom: 0;
			width: 44%;
		}
	}

	&.header-bottom {
		h2 {
			font: {
				size: 24px;
			}
			padding: 5px 10px;
			bottom: 0px;
		}

		float: none;
	}
}

.current-slide {
	@include opacity(1);
}


// Slide nav

.slide-nav {
	height: 40px;
}

.home {
	.slide-nav {
		height: 0;
	}
}

.slide-nav-in {
	float: right;
}

.slide-prev, .slide-next {
	display: block;
	float: left;
	text-decoration: none;
	color: #000;
	background: $vpmtan;
	padding: 10px;
	margin: 0 0 0 10px;
	position: relative;
	z-index: 1000;

	&:hover {
		color: #000;
		background: darken($vpmtan, 10%);
	}

	&:active {
		background: darken($vpmtan, 30%);
	}
}