@import url(http://fonts.googleapis.com/css?family=Signika+Negative:300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,300,700);
@font-face {
  font-family: 'IconicStrokeRegular';
  src: url("../fonts/iconicstroke/iconic_stroke-webfont.eot");
  src: url("../fonts/iconicstroke/iconic_stroke-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconicstroke/iconic_stroke-webfont.woff") format("woff"), url("../fonts/iconicstroke/iconic_stroke-webfont.ttf") format("truetype"), url("../fonts/iconicstroke/iconic_stroke-webfont.svg#IconicStrokeRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 17, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 *
 * Rach5 default variables
 *
 */
/*
 *
 * Default colors
 *
 */
/*
 *
 * Font stacks
 *
 */
/*
 *
 * Buttons
 *
 */
/*
 *
 * HERE BE DRAGONS...
 *
 */
/* line 26, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/editor-style.scss */
html .mceContentBody {
  max-width: 700px;
  margin: 20px auto;
  padding: 0 20px;
  background: #fff;
  color: #000;
  font: 300 15px/1.8 "Open Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
}

/* line 38, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/editor-style.scss */
.wp-caption-dd {
  padding: 0;
}

/* line 43, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/editor-style.scss */
.wp-caption {
  position: relative;
  z-index: 10000;
}
/* line 47, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/editor-style.scss */
.wp-caption.alignleft, .wp-caption.aligncenter, .wp-caption.alignright {
  padding: 8px 3px 8px;
}

/* line 52, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/editor-style.scss */
.alignleft, .alignright, .aligncenter {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
}

/* line 1, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
p img, .alignleft, .aligncenter, .alignright {
  border: 1px solid #BBB;
  background: #FFF;
  padding: 3px;
  -moz-box-shadow: 0 1px 4px -2px black;
  -webkit-box-shadow: 0 1px 4px -2px black;
  -o-box-shadow: 0 1px 4px -2px black;
  box-shadow: 0 1px 4px -2px black;
}

/* line 8, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
a {
  color: #336699;
  text-decoration: underline;
}
/* line 12, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
a:hover {
  color: #4f8ac4;
  text-decoration: none;
}
/* line 17, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
a:visited {
  color: #2a547e;
}
/* line 20, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
a:visited:hover {
  color: #4f8ac4;
}
/* line 24, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
a:visited:active {
  color: #ff9900;
}
/* line 29, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
a:active {
  color: #ff9900;
}

/* line 34, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Signika Negative", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  font-weight: 600;
}

/* line 41, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
  text-decoration: none;
}

/* line 42, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}

/* line 43, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}

/* line 44, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

/* line 45, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

/* line 46, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
h5 {
  font-size: 17px;
  line-height: 24px;
}

/* line 47, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
h6 {
  font-size: 14px;
  line-height: 21px;
}

/* line 49, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
p {
  margin: 0 0 20px 0;
  z-index: 20;
}

/* line 54, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
p img {
  margin: 0;
}

/* line 59, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

/* line 63, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
em {
  font-style: italic;
}

/* line 64, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
strong {
  font-weight: bold;
}

/* line 65, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
small {
  font-size: 80%;
}

/* line 67, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
ul, ol {
  margin-bottom: 20px;
}

/* line 68, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
ul {
  list-style: none outside;
}

/* line 69, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
ol {
  list-style: decimal;
}

/* line 71, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
.entry-content ol, .entry-content ul {
  margin-left: 30px;
}
/* line 72, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
.entry-content ul {
  list-style: square outside;
}

/* line 75, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
ul ul, ul ol,
ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}

/* line 77, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
ul ul li, ul ol li,
ol ol li, ol ul li {
  margin-bottom: 6px;
}

/* line 78, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
li {
  margin-bottom: 12px;
}

/* line 80, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
blockquote {
  padding: 0 0 10px 20px;
  position: relative;
}
/* line 84, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
blockquote p {
  font-style: italic;
  position: relative;
  z-index: 10;
}

/* line 95, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
.alignleft {
  float: left;
  margin: 5px 20px 10px 0;
}

/* line 100, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
.aligncenter {
  margin: 9px auto 10px;
  display: block;
}

/* line 105, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
.alignright {
  float: right;
  margin: 5px 0 10px 20px;
}

/* line 110, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
.wp-caption-text, .wp-caption-dd {
  font: 12px "Open Sans", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", sans-serif;
  color: #666;
  margin: 4px 0 0;
  display: block;
}

/* line 117, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
strong.cta {
  font: 300 20px "Signika Negative", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  background: #F6F3EB;
  padding: 6px 4px;
  display: inline-block;
}
/* line 123, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
strong.cta a {
  color: #FFF;
  background: #ff9900;
  text-decoration: none;
  padding: 2px 4px;
}
/* line 129, /Users/Chris/Websites/Personal/Van Patten Media/vanpattenmedia.com/public/content/themes/vanpattenpress/sass/content/_content.scss */
strong.cta a:hover {
  background: #336699;
}
