$total-columns: 12;
$column-width: 3.5em;
$gutter-width: 2em;
$grid-padding: 2em;

$break-primary: 800px;
$break-secondary: 600px;

.col-row {
	@include container;
}

.col-half {
	@include breakpoint( $break-secondary ) {
		@include span-columns( 6, 12 );
	}

	&:last-child {
		@include omega;
	}
}

.col-one-third {
	@include breakpoint( $break-secondary ) {
		@include span-columns( 4, 12 );
		@include omega;
	}
}

.col-two-third {
	@include breakpoint( $break-secondary ) {
		@include span-columns( 8, 12 );
	}
}

.col-last {
	@include omega;
}
