$total-columns: 12;
$column-width: 3.5em;
$gutter-width: 2em;
$grid-padding: 2em;

$break-primary: 800px;
$break-secondary: 600px;

.col-row {
	@include container;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.col-half {
	@include breakpoint( $break-secondary ) {
		@include span-columns( 6, 12 );
	}
}

.col-one-third {
	@include breakpoint( $break-primary ) {
		@include span-columns( 4, 12 );
	}
}

.col-two-third {
	@include breakpoint( $break-primary ) {
		@include span-columns( 8, 12 );
	}
}

.col-last {
	@include breakpoint( $break-primary ) {
		@include omega;
	}
}
