.gal {
	padding: 0;
	list-style: none;
	margin: 0 0 1.5rem;
	@extend %clearfix;

	@include breakpoint( $break-secondary ) {
		margin: 0;
	}
}

.gal-full {
	.gal-item {
		@include breakpoint( 0 $break-secondary ) {
			@include span-columns( 6, 12 );

			&:nth-child(2n) {
				@include omega;
			}
		}

		@include breakpoint( $break-secondary $break-primary ) {
			@include span-columns( 4, 12 );

			&:nth-child(3n) {
				@include omega;
			}
		}

		@include breakpoint( $break-primary ) {
			@include span-columns( 3, 12 );

			&:nth-child(4n) {
				@include omega;
			}
		}
	}
}

.gal-half {
	.gal-item {
		@include span-columns( 3, 6 );

		&:nth-child(2n) {
			@include omega;
		}
	}
}

.gal-item {
	background: black;
	text-align: center;
	position: relative;
	min-height: 100px;
	line-height: 0;
	@include border-radius;
	overflow: hidden;
	margin-bottom: 0.5rem;

	@include breakpoint( $break-secondary ) {
		margin-bottom: 2rem;
	}

	.gal-text {
		@include opacity( 0 );
	}

	img {
		width: 100%;
		height: auto;
		position: relative;
		z-index: 5;
	}

	&:hover {
		.gal-text {
			@include opacity( 1 );
		}
	}
}

.gal-text {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	@include rgba-background( rgba( black, 0.8 ) );
}

.gal-text-content-wrap {
	height: 100%;
	width: 100%;
	display: table;
}

.gal-text-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	line-height: 1.1;
	padding: 0 1rem;
	@include text-shadow( 0 1px 10px black );

	h2 {
		margin-top: 0;
	}
	
	p {
		margin-bottom: 0;
	}
}

.gal-item-link {
	display: block;
}
