.comments {
	padding-top: 20px;
}

.post-nav {
	@extend %clearfix;
}

.nav-prev {
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	@include text-shadow;
	
	& > .nav-label {
		text-decoration: underline;
	}
}

.nav-next {
	@extend .nav-prev;
	text-align: right;
	float: right;
}
