#feature-box {
	border-bottom: 1px dotted $vpmtan;
	padding: 20px 0 30px;
}

#slogan {
	float: left;
	width: 300px;
	font-size: 28px;
	line-height: 1.6;
}

#responsive-demo {
	display: block;
	position: relative;
	height: 210px;
	width: 620px;
	margin: 0 0 20px;
	float: right;
}

%demo-products {
	overflow: hidden;
	position: absolute;
	bottom: 0;
}

#laptop-demo {
	background: image-url('homepage/laptop.png') no-repeat;
	width: 393px;
	height: 210px;
	@extend %demo-products;
	right: 185px;

	img {
		position: absolute;
		top: 15px;
		left: 62px;
	}
}

#tablet-demo {
	background: image-url('homepage/tablet.png') no-repeat;
	width: 203px;
	height: 158px;
	@extend %demo-products;
	right: 0;

	img {
		position: absolute;
		top: 17px;
		left: 19px;
	}
}

#smartphone-demo {
	background: image-url('homepage/smartphone.png') no-repeat;
	width: 45px;
	height: 89px;
	@extend %demo-products;
	left: 17px;

	img {
		position: absolute;
		top: 14px;
		left: 3px;
	}
}

#featured-quote {
	border-bottom: 1px dotted $vpmtan;
	padding: 30px 0;
	margin: 0 0 30px;

	blockquote {
		font: italic 22px/1.5 serif;
		margin: 0;
		padding: 0;
		color: #555;
		background: #FFF;
		padding-right: 30px;
		@include text-shadow(0 1px 1px #FFF);
	}

	cite {
		text-transform: lowercase;
		font-variant: small-caps;
		margin: 10px 0 0 20px;
	}
}

#nav-wrap {
	border-top: 1px solid darken($vpmtan, 15%);
	position: relative;
	top: -1px;
	z-index: 1000;
	background: $vpmtan image-url('noise.png') center center;

	ul, li {
		margin: 0;
	}

	a {
		display: block;
		padding: 5px 9px;
		text-decoration: none;
		@include text-shadow(0 1px 1px #FFF);
		color: #000;

		&:hover {
			@include rgba-background(rgba(darken($vpmtan, 30%), 0.2));
		}
	}
}

.homebox {
	position: relative;

	.slide {
		width: 100%;
		height: 140px;
		overflow: hidden;
	}

	a {
		display: block;
		text-decoration: none;
		color: #000;

		p {
			margin: 0;
			padding: 8px 0 0;
		}
	}

	img {
		width: 100%;
		height: auto;
		min-width: 340px;
		min-height: 140px;
		margin: 0;
		display: block;
		background: #C0C0C0;
	}
}