.home-slogan-text {
	margin: 0 4% 0 0;
	font: {
	   size: 200%;
	   weight: normal;
   }
	@include text-shadow;
}

.home-boxes-item {
	@extend %box;
	min-height: 100px;
	margin-top: 15px;
	font-size: 90%;
	padding: 5px;
}

.home-boxes-link {
	display: block;
	text-decoration: none;
	color: $base-color-text;
}

.home-boxes-image {
	width: 100%;
	height: 100px;
	margin: 0 0 5px;
	@extend %thumbnail;
}

.project .home-boxes-image {
	background-position: center center;
}

.section-header {
	margin: 0;

	@media #{$tablet} {
		margin: 0.7em 0 0;
	}
}

// Blog entries
.entry {
	padding: 1px 175px 20px 20px;
	position: relative;
	@extend %clearfix;
}

.entry-title {
	margin-bottom: 0.2em;
}

%thumbnail {
	background-size: cover;
	background-repeat: none;
	background-color: lighten( $base-color-background, 25% );
}

.entry-thumbnail {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 150px;
	min-height: 50px;
	margin: 5px;
	@extend %thumbnail;
}

// Bios
.bio {
	position: relative;
}

.bio-photo {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	height: 220px;
	background-size: cover;
	background-position: center;
}

.bio-text {
	margin-top: 220px + 25px;
}
