.prt-header {
	@extend %clearfix;
}

@media #{$tablet} {
	.prt-heading {
		float: left;
	}
}

.prt-features {
	list-style: none;
	margin: 1.1em 4% 0 0;
	padding: 0;

	@media #{$tablet} {
		float: right;
	}

	li {
		font-size: 40px;
		@include text-shadow(0 0 5px black);
		float: left;
		margin: 0 20px 0 0;

		@media #{$tablet} {
			margin: 0 0 0 20px;
		}
	}

	.icon {
		width: 40px;
	}
}

.tipsy {
	margin-top: 3px;
	font-size: 12px;
}

.screenshot {
	position: relative;
	min-height: 100px;
	padding: 5px;

	& > a {
		display: block;
		line-height: 0;
	}

	img {
		width: 100%;
	}
}
